/* NEED TO KNOW 
height: auto; 
    background-position: center;
    background-repeat: auto;
    background-size: auto;
    color: #CC0033;
*/
/*Fucking Space*/

body{
  font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(../img/Grass_Type.webp);
  size-adjust:auto; 
}
/*Fucking Space*/
div.link button{
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #150404;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #89d4bd;
}
div.link button:hover{
  background-color: #693e8e;
}
div.link button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #693e8e;
  transform: translateY(4px);
}
button.leek {
  background-image:url(https://archives.bulbagarden.net/media/upload/9/99/0083Farfetch%27d.png);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
  back
}
button.serebii {
  background-image:url(https://archives.bulbagarden.net/media/upload/3/3f/0251Celebi.png);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}
/*Fucking Space*/
button.gt{
  background-image:url(../img/gotwt.jpg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}
/*Fucking Space*/
button.pg{
  background-image:url(../img/officalpogo.png);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}
/*Fucking Space
h1.title{
  font-family: fantasy;
  padding-right: 1em;
  padding-left: 1em;
  margin:0;
  border:0.5rem dotted white;
  width: fit-content;
}
Fucking Space*/
.tpic{
  border: 0.5em ridge pink;
}

.words {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  padding:0;
  margin:0;
  border:0;
  border-radius:0;
  width: fit-content;
}

.slogan1{
  position: absolute;
  top: 22.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  padding:0;
  margin:0;
  border:0;
  border-radius:0;
  width: fit-content;
}

/*Fucking Space*/
div.link{
  background: 2rem solid whitesmoke;
}
/*Fucking Space*/
img.trio-pic{
  border: 1.5rem outset rgb(119, 78, 119);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/*Fucking Space*/
h3.subt{

}
/*Fucking Space*/
p {

}
/*Fucking Space*/

